<%
  profile = @project.profile

  search_options = {}
  search_options['projects'] = @project.key
  search_options['manual_severity'] = true
  search_options['sort'] = 'updated_at'
  search_options['statuses'] = "#{Review::STATUS_OPEN},#{Review::STATUS_REOPENED}"

  manualSeverityReviews = [];

  found_reviews = Review.search(search_options)
  unless found_reviews.empty?
    reviews = select_authorized(:user, found_reviews, :project)
    unless reviews.empty?
      reviews.each do |review|
        if review.manual_severity == true && review.manual_violation != true
          manualSeverityReviews << review
        end #if
      end #each
    end #unless reviews.empty
  end #unless found_reviews.empty
  priorities=['Info','Minor','Major','Blocker','Critical']
%>

<h3><%= message('widget.manual_severity_reviews.title') -%></h3>

<% if manualSeverityReviews.size ==0 %>
  <span class="empty_widget">No review.</span>
<% else %>
<table class="data width100">
  <thead>
    <tr><th> </th></tr>
  </thead>
  <%
    manualSeverityReviews.each do |review|
    comment = review.comments.last
    origPriority = review.violation.rule.priority
  %>
    <tr class="<%= cycle 'even', 'odd', :name => ('reviews-widget-list-manual-severity') -%>">
    <!--td>
      <%= link_to h(review.id), :controller => "reviews", :action => "view", :id => review.id -%>
    </td-->
    <td class="nowrap">
      <img src="<%= ApplicationController.root_context -%>/images/priority/<%= origPriority -%>.png" title="Was <%= priorities[Integer(origPriority)] -%>"/>
      <b>&rArr;</b>
      <img src="<%= ApplicationController.root_context -%>/images/priority/<%= review.severity -%>.png" title="<%= message(review.severity.downcase).capitalize -%>"/>

    </td>
    <td>
      <%= review.user.name -%><br/>
      <%= link_to h(review.title), :controller => "reviews", :action => "view", :id => review.id -%>
      <% if comment %>
        <div class="comment-excerpt">
          <img src="<%= ApplicationController.root_context -%>/images/reviews/comment.png"/>
          &nbsp;<b><%= comment.user.name -%> :</b>
          <%= comment.excerpt -%>
        </div>
      <% end %>

    </td>
    <td ><%= distance_of_time_in_words_to_now(review.updated_at) -%></td>
    </tr>
  <% end %>
</table>
<% end %>
