<style>
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
</style>

<script src="<%= ApplicationController.root_context + '/static/widgetlab/bar_chart.js' -%>"></script>

<%
  containerId = 'measure_bar_chart' + widget.id.to_s

  if has_role?(:user, @project)
    metric = widget_properties["metric"]
    period = widget_properties["period"]
    measure = measure(metric)

    if metric 
%>
<span class="widget-label"><%= measure.metric.short_name -%></span>

<div class="histogram-widget" id="<%= containerId %>">
  <!--[if lte IE 8 ]> <h3><%= message('widget.unsupported_browser_warning') -%></h3> <![endif]-->
</div>

<span class="">Last: 
  <a href="#" id="pW<%= widget.id.to_s %>" >Week</a> - 
  <a href="#" id="pM<%= widget.id.to_s %>" >Month</a> - 
  <a href="#" id="pQ<%= widget.id.to_s %>" >Quarter</a> - 
  <a href="#" id="pS<%= widget.id.to_s %>" >Semester</a> - 
  <a href="#" id="pY<%= widget.id.to_s %>" >Year</a></span>

<!--[if (gte IE 9)|!(IE)]><!-->
<script>

  var $ = jQuery; 

  var legendText = "<%= measure.metric.value_type_name + measure.metric.suffix -%>";

  $( "#pW<%= widget.id.to_s %>" ).click(function() {
    barChart('W', '<%= measure.metric.key %>', '<%= @project.id() -%>', '<%= containerId %>', legendText);
  });
  $( "#pM<%= widget.id.to_s %>" ).click(function() {
    barChart('M', '<%= measure.metric.key %>', '<%= @project.id() -%>', '<%= containerId %>', legendText);
  });
  $( "#pQ<%= widget.id.to_s %>" ).click(function() {
    barChart('Q', '<%= measure.metric.key %>', '<%= @project.id() -%>', '<%= containerId %>', legendText);
  });
  $( "#pS<%= widget.id.to_s %>" ).click(function() {
    barChart('S', '<%= measure.metric.key %>', '<%= @project.id() -%>', '<%= containerId %>', legendText);
  });
  $( "#pY<%= widget.id.to_s %>" ).click(function() {
    barChart('Y', '<%= measure.metric.key %>', '<%= @project.id() -%>', '<%= containerId %>', legendText);
  });

  barChart('<%= period %>', '<%= measure.metric.key %>', '<%= @project.id() -%>', '<%= containerId %>', legendText);

</script>

<!--[if (gte IE 9)|!(IE)]><!-->
  <table class="spacedicon" style="width: 100%;"  id="<%= containerId %>-table">

  </table>

  <% else %>
  Please configure the widget to have the Measure Bar Chart working.
  <% end %>
<!--<![endif]-->
<% end %>
