<style>
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
</style>

<script src="<%= ApplicationController.root_context -%>/static/widgetlab/bar_chart.js?v=<%= sonar_version -%>"></script>

<%
  containerId = 'measure_bar_chart' + widget.id.to_s

  if has_role?(:user, @project)
    metric = widget_properties["metric"]
    period = widget_properties["period"]
    measure = measure(metric)

    if metric
      legendText = ''
      if measure.metric.value_type == 'WORK_DUR'
        legendText = 'Minutes'
      else
        legendText = measure.metric.suffix
      end
%>
<span class="widget-label"><%= measure.metric.short_name -%></span>

<div class="histogram-widget" id="<%= containerId %>">
  <!--[if lte IE 8 ]> <h3><%= message('widget.unsupported_browser_warning') -%></h3> <![endif]-->
</div>

<span class="">Last:
  <a id="pW<%= widget.id.to_s %>" onClick='drawChart<%= widget.id.to_s %>("W")'>Week</a> -
  <a id="pM<%= widget.id.to_s %>" onClick='drawChart<%= widget.id.to_s %>("M")'>Month</a> -
  <a id="pQ<%= widget.id.to_s %>" onClick='drawChart<%= widget.id.to_s %>("Q")'>Quarter</a> -
  <a id="pS<%= widget.id.to_s %>" onClick='drawChart<%= widget.id.to_s %>("S")'>Semester</a> -
  <a id="pY<%= widget.id.to_s %>" onClick='drawChart<%= widget.id.to_s %>("Y")'>Year</a>
</span>

<!--[if (gte IE 9)|!(IE)]><!-->
<script>
  var $ = jQuery;
  var lastPeriod<%= widget.id.to_s %>;

  function drawChart<%= widget.id.to_s %>(target) {

    barChart(target, '<%= measure.metric.key -%>', '<%= @project.id() -%>', '<%= containerId -%>', "<%= legendText -%>");

    $( "#p" + lastPeriod<%= widget.id.to_s %> + "<%= widget.id.to_s %>" ).css( "font-weight", "normal" );
    $( "#p" + target + "<%= widget.id.to_s %>" ).css( "font-weight", "bold" );
    lastPeriod<%= widget.id.to_s %> = target;
  }

  drawChart<%= widget.id.to_s %>("<%= period %>");

  autoResize(500, function() {
    drawChart<%= widget.id.to_s %>(lastPeriod<%= widget.id.to_s %>);
  });
</script>

<!--[if (gte IE 9)|!(IE)]><!-->
  <table class="spacedicon" style="width: 100%;"  id="<%= containerId -%>-table">

  </table>

  <% else %>
  Please configure the widget to have the Measure Bar Chart working.
  <% end %>
<!--<![endif]-->
<% end %>
